<p>
  Me chamo Alan Felix, tenho 20 anos e atualmente moro em Salvador - BA - Brasil, fascinado por lógica, programação, matemática e design, intencionado a juntar tudo isso e utilizar no desenvolvimento front-end.<br>
  Estudante e líder de turma do curso de Sistemas de Informação pela Faculdade Maurício de Nassau desde janeiro de 2016, ex-aluno do SENAI Cimatec, estagiário da <a href="#">Softwell Solutions</a> na área de Desenvolvimento/Teste, nerd jogador de Pokémon e nas horas vagas, desafinador de guitarra.
</p>