@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

@keyframes shakyshake {
	0%, 20%, 40%, 60%, 80%, 100% {transform: translate(0px,0px);}
	10% {transform: translate(0.5px,0px);}
	30% {transform: translate(-0.5px,-0.5px);}
	50% {transform: translate(0px,0.5px);}
	70% {transform: translate(0.5px,-0.5px);}
	90% {transform: translate(-0.5px,0.5px);}
}

/* BACKGROUND */

.bg-fixed {
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	z-index: 0;
}

.bg-fixed img {
	position: inherit;
	width: 106vw;
	height: 106vh;
	top: -6px;
	left: -6px;
	filter: blur(4px);
	border: 1px solid black;
	z-index: inherit;
}

/* BODY */

.wrapper {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.banner {
	position: absolute;
	top: 0px;
	width: inherit;
	height: 70px;
	margin-top: 0px;
	text-align: left;
	background-color: rgba(0,0,0,0.9);
	color: white;
}

.banner h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 45px;
	font-weight: lighter;
	display: inline-block;
	margin-top: 6px;
	margin-left: 25px;
	margin-bottom: 5px;
	cursor: pointer;
	text-shadow: 0px 0px 0px rgba(255,255,255,0);
	transition: text-shadow 0.6s;
}

.banner h1:hover {
	text-shadow: 0px 0px 5px rgba(255,255,255,0.8);
}

/* CONTENT */

.content {
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 70px;
	height: calc(100% - (70px + 44px));
	bottom: 44px;
	width: inherit;
	color: white;
	background-color: rgba(0,0,0,0.7);
}

.nav-link {
	width: 130px;
	height: 70px;
	margin: 6px 15px;
	padding-bottom: 1px;
	font-family: 'Gentium Basic', serif;
	font-size: 32px;
	border-bottom: 1px solid white;
	text-shadow: 2px 2px 4px black;
	cursor: pointer;
	transition: font-size 0.15s ease;
}

.nav-link:hover {
	font-size: 30px;
}

/* MAIN */

.main-content {
	position: absolute;
	width: 80%;
	height: calc(100% - 109px);
	left: 10%;
	top: 0px;
	transition: all 0.7s ease;
	background-color: rgba(0, 0, 0, 0);
}

.prof-pic {
	overflow: hidden;
	display: block;
	position: absolute;
	top: 40px;
	left: calc(50% - 100px);
	width: 200px;
	height: 200px;
	border: 4px solid white;
	border-radius: 50%;
	background-color: white;
	box-shadow: 2px 2px 12px black;
	transition: all 0.2s ease;
}

.prof-pic:hover {
	animation: shakyshake;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

.prof-pic img {
	width: 100%;
	filter: saturate(0.7);
}

.info-text {
	display: block;
	position: absolute;
	top: 300px;
	width: 100%;
	word-wrap: normal;
	text-align: center;
}

.info-text p {
	font-family: 'Gentium Basic', serif; 
	text-shadow: 2px 2px 4px black;
	font-size: 24px;
}

.menu {
	display: block;
	position: absolute;
	top: 82%;
	width: 100%;
	height: 109px;
	text-align: center;
	transition: all 0.7s ease;
}

/* SECTION TRANSITION */

.hidden {
	top: calc(-100% + 109px);
}

.show {
	height: calc(100% - 35px) !important;
	top: 35px !important;
}

.show p {
	opacity: 1 !important;
}

.top-nav {
	top: 0px;
	height: 35px;
	background-color: rgba(0,0,0,0.66);
}

.top-nav a {
	font-size: 22px;
}

.top-nav a:hover {
	font-size: 20px;
}

.back {
	display: none;
}

/* SUB-CONTENTS */

.sub {
	overflow: hidden;
	position: absolute;
	width: 80%;
	height: 0px;
	top: 100%;
	left: 10%;
	transition: 0.7s ease;
	transition-property: top, height;
}

/* ABOUT */

.about-content {
	text-align: justify;
	padding-top: 0px;
}

.about-content p {
	font-family: 'Gentium Basic', serif;
	margin-top: 10%;
	font-size: 26px;
	text-shadow: 2px 2px 4px black;
	opacity: 0;
	transition: opacity 0.7s linear 0.2s;
}

.about-content p a {
	color: white;
	text-decoration: none;
	font-size: 26px;
	transition: font-size 0.3s;
}

.about-content p a:hover {
	font-size: 25px;
}

.about-content span {
	position: absolute;
	bottom: 4px;
}

/* FOOTER */

.footer {
	position: absolute;
	width: inherit;
	height: 44px;
	bottom: 0px;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.7);
}

.footer p {
	font-family: 'Gentium Basic', serif;
	margin-top: 13px;
	font-style: italic;
	font-size: 16px;
	font-weight: lighter;
	@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
	@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');
}

	@keyframes shakyshake {
		0%, 20%, 40%, 60%, 80%, 100% {transform: translate(0px,0px);}
		10% {transform: translate(0.5px,0px);}
		30% {transform: translate(-0.5px,-0.5px);}
		50% {transform: translate(0px,0.5px);}
		70% {transform: translate(0.5px,-0.5px);}
		90% {transform: translate(-0.5px,0.5px);}
	}

	/* BACKGROUND */

	.bg-fixed {
		position: fixed;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		left: 0px;
		top: 0px;
		z-index: 0;
	}

	.bg-fixed img {
		position: inherit;
		width: 106vw;
		height: 106vh;
		top: -6px;
		left: -6px;
		filter: blur(4px);
		border: 1px solid black;
		z-index: inherit;
	}

	/* BODY */

	.wrapper {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
	}

	.banner {
		position: absolute;
		top: 0px;
		width: inherit;
		height: 70px;
		margin-top: 0px;
		text-align: left;
		background-color: rgba(0,0,0,0.9);
		color: white;
	}

	.banner h1 {
		font-family: 'Dancing Script', cursive;
		font-size: 45px;
		font-weight: lighter;
		display: inline-block;
		margin-top: 6px;
		margin-left: 25px;
		margin-bottom: 5px;
		cursor: pointer;
		text-shadow: 0px 0px 0px rgba(255,255,255,0);
		transition: text-shadow 0.6s;
	}

	.banner h1:hover {
		text-shadow: 0px 0px 5px rgba(255,255,255,0.8);
	}

	/* CONTENT */

	.content {
		position: absolute;
		overflow: hidden;
		left: 0px;
		top: 70px;
		height: calc(100% - (70px + 44px));
		bottom: 44px;
		width: inherit;
		color: white;
		background-color: rgba(0,0,0,0.7);
	}

	.nav-link {
		width: 130px;
		height: 70px;
		margin: 6px 15px;
		padding-bottom: 1px;
		font-family: 'Gentium Basic', serif;
		font-size: 32px;
		border-bottom: 1px solid white;
		text-shadow: 2px 2px 4px black;
		cursor: pointer;
		transition: font-size 0.15s ease;
	}

	.nav-link:hover {
		font-size: 30px;
	}

	/* MAIN */

	.main-content {
		position: absolute;
		width: 80%;
		height: calc(100% - 109px);
		left: 10%;
		top: 0px;
		transition: all 0.7s ease;
		background-color: rgba(0, 0, 0, 0);
	}

	.prof-pic {
		overflow: hidden;
		display: block;
		position: absolute;
		top: 40px;
		left: calc(50% - 100px);
		width: 200px;
		height: 200px;
		border: 4px solid white;
		border-radius: 50%;
		background-color: white;
		box-shadow: 2px 2px 12px black;
		transition: all 0.2s ease;
	}

	.prof-pic:hover {
		animation: shakyshake;
		animation-duration: 0.7s;
		animation-iteration-count: infinite;
	}

	.prof-pic img {
		width: 100%;
		filter: saturate(0.7);
	}

	.info-text {
		display: block;
		position: absolute;
		top: 300px;
		width: 100%;
		word-wrap: normal;
		text-align: center;
	}

	.info-text p {
		font-family: 'Gentium Basic', serif; 
		text-shadow: 2px 2px 4px black;
		font-size: 24px;
	}

	.menu {
		display: block;
		position: absolute;
		top: 82%;
		width: 100%;
		height: 109px;
		text-align: center;
		transition: all 0.7s ease;
	}

	/* SECTION TRANSITION */

	.hidden {
		top: calc(-100% + 109px);
	}

	.show {
		height: calc(100% - 35px) !important;
		top: 35px !important;
	}

	.show p {
		opacity: 1 !important;
	}

	.top-nav {
		top: 0px;
		height: 35px;
		background-color: rgba(0,0,0,0.66);
	}

	.top-nav a {
		font-size: 22px;
	}

	.top-nav a:hover {
		font-size: 20px;
	}

	.back {
		display: none;
	}

	/* SUB-CONTENTS */

	.sub {
		overflow: hidden;
		position: absolute;
		width: 80%;
		height: 0px;
		top: 100%;
		left: 10%;
		transition: 0.7s ease;
		transition-property: top, height;
	}

	/* ABOUT */

	.about-content {
		text-align: justify;
		padding-top: 0px;
	}

	.about-content p {
		font-family: 'Gentium Basic', serif;
		margin-top: 10%;
		font-size: 26px;
		text-shadow: 2px 2px 4px black;
		opacity: 0;
		transition: opacity 0.7s linear 0.2s;
	}

	.about-content p a {
		color: white;
		text-decoration: none;
		font-size: 26px;
		transition: font-size 0.3s;
	}

	.about-content p a:hover {
		font-size: 25px;
	}

	.about-content span {
		position: absolute;
		bottom: 4px;
	}

	/* FOOTER */

	.footer {
		position: absolute;
		width: inherit;
		height: 44px;
		bottom: 0px;
		text-align: center;
		color: white;
		background-color: rgba(0,0,0,0.7);
	}

	.footer p {
		font-family: 'Gentium Basic', serif;
		margin-top: 13px;
		font-style: italic;
		font-size: 16px;
		font-weight: lighter;
	}